body {
  margin: 0;
  box-sizing: border-box;
  background-color: #282c34;

  padding: 10px 20px;
  min-height: 100vh;
  font-size: medium;
  width: 100vw;
  text-transform: capitalize;
}

.App-header {
  font-size: calc(15px + 4vmin);
  color: white;
  margin: 2vh 0 4vh 0;
}

.noteAddButton {
  width: 10vw;
  height: 5vh;
  border-radius: 20px;
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
  margin-left: 20px;

}

.noteAddButton:hover {
  background-color: antiquewhite;
  text-shadow: 2px 2px 5px #333;
  font-weight: bolder;

}

.noteInput {
  width: 30vw;
  height: 5vh;
  background-color: antiquewhite;
  color: black;
  border: 1px solid black;
  padding: 2px 5px;

  cursor: pointer;
  margin-bottom: 40px;
}

/* ListItem */
li {

  color: white;
  margin-bottom: 3vh;
  padding: 0px 10px;
  font-size: 1.2em;

}

.listItem {
  width: 30vw;
  padding: auto;
  display: flex;
}

.itemsNote {
  width: 80%;
  margin-right: 40px;
}


span {
  color: whitesmoke
}

.fa-solid {
  width: 20%;
  font-size: 20px;
  cursor: pointer;
}

.fa-circle-minus:hover {
  color: rgb(80, 37, 37)
}

/* .noteButton {
  margin-left: 30px;
  cursor: pointer;
  display: inline-block;
  width: 4vw;
  height: 3vh;
  border-radius: 5px;
  text-align: center;
  font-size: smaller;
  padding: 1px;
}

.noteButton:hover {
  background-color: red;
  text-shadow: 2px 2px 4px #333;
} */



@media (max-width:700px) {
  button {
    display: block;
  }
}